@import url('https://fonts.googleapis.com/css2?family=Honk&family=Press+Start+2P&family=Rowdies:wght@700&display=swap');

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
}

.bg-style{
  background-color: #4b495f;
}

.tic-logo{
  width: 250px;
  margin-top: 5vh;
}

.heading1{
  /* margin-top: 30vh; */
  margin-bottom: 5vh;
  font-family: 'Press Start 2P', system-ui;
  font-size: 1.5rem;
  text-align: center;
}

/* Play Online Button Style */
.play-btn{
  margin-top: vh;
  height: 70px;
  width: 350px;
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Honk', system-ui;
  /* font-family: 'Rowdies', sans-serif; */
  cursor: pointer;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.play-btn:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.play-btn.color1 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
/* ------------------------------------------------------------------- */
.game-heading{
  padding: 10px 80px;
  border-radius: 5px;
  font-size: 2rem;
  margin-bottom: 4vh;
}

.square-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 3vh;
}

.move-detection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
  width: 400px;
}

.left{
  height: 40px;
  width: 140px;
  background-color: #4b495f;
  padding-top: 8px;
  padding-bottom: 35px;
  text-align: center;
  font-size: 1.3rem;
  overflow: hidden;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.right{
  height: 40px;
  width: 140px;
  background-color: #4b495f;
  padding-top: 8px;
  padding-bottom: 35px;
  text-align: center;
  font-size: 1.3rem;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.winner-msg, .draw-msg{
  font-size: 2rem;
  text-align: center;
}

