.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
}

.bg-style{
  background-color: #4b495f;
}

.game-heading{
  padding: 10px 80px;
  border-radius: 5px;
  font-size: 2rem;
  margin-bottom: 4vh;
}

.square-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 3vh;
}

.move-detection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
  width: 400px;
}

.left{
  height: 40px;
  width: 140px;
  background-color: #4b495f;
  padding-top: 8px;
  padding-bottom: 35px;
  text-align: center;
  font-size: 1.3rem;
  overflow: hidden;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.right{
  height: 40px;
  width: 140px;
  background-color: #4b495f;
  padding-top: 8px;
  padding-bottom: 35px;
  text-align: center;
  font-size: 1.3rem;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.winner-msg{
  font-size: 2rem;
  text-align: center;
}