.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.bg-style{
  background-color: #4b495f;
}

.game-heading{
  padding: 10px 80px;
  border-radius: 5px;
}